@model IEnumerable<RealEstateProject.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            List of Properties 
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        </h2>
    </div>
</div>


<div class="row">
    @foreach (var item in Model) {
       @Html.Partial("_Property", item)
    }
    
</div>