@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is used to view real estate properties. Users have roles, and there is also a super admin. Project is deployed to Azure! </p>
