@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>E-mail:</strong> <a href="mailto:jonakamberi@unyt.edu.al">jonakamberi@unyt.edu.al</a><br />
</address>
